html, body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.75vw;
	color: white;
	
	background-color: black;
	
	margin: 0px;
	padding: 0px;
}

section {
	text-align: center;
	margin: auto;
	margin-top: -2%;
	width: 50%;
}

footer {
	text-align: center;
	font-size: 1.15vw;
	margin-top: -2%;
}

#logo {
	display: block;
	margin: auto;
	margin-top: -3%;
	width: 50%;
}

p {
	margin-top: 2%;
	margin-bottom: 2%;
}

/* Hyperlink color */
a {
	color: #3884BA;
}

