
<div>
  <h3 class="event-heading">{{ include.list[include.index][1].name }}</h3>

  <p>
    {% assign eventTimeExists = include.list[include.index][1].time %}

    {% if eventTimeExists %}
      {{ include.list[include.index][1].date }} - {{ include.list[include.index][1].time }}
    {% else %}
      {{ include.list[include.index][1].date }}
    {% endif %}
    <br />

    {% assign location_link = include.list[include.index][1].location_link %}
    {% if location_link %}
      <a href="{{ include.list[include.index][1].location_link }}" target="_blank">{{ include.list[include.index][1].location }}</a>
    {% else %}
      {{ include.list[include.index][1].location }}
    {% endif %}
  </p>

  {% if include.list[include.index][1].image %}
    <div class="event-table">
      <div class="event-image">
        <img alt="" src="{{ include.list[include.index][1].image }}" />
      </div>
      <div class="event-description">
        <p>{{ include.list[include.index][1].description }}</p>
      </div>
    </div>
  {% else %}
    <p>{{ include.list[include.index][1].description }}</p>
  {% endif%}
</div>

