---
layout: single
title: Apply
permalink: /apply
---

<br>

{% assign applications = site.data.applications | sort %}
{% for opening in applications %}
<h2 class="category-style">{{ opening[1].category }}</h2>
{% if opening[1].open == true %}
<p>We have AIS officer and HackAI coordinator applications open!
  <br>
  Officer: <a href="{{ opening[1].link }}" target="_blank">Apply Here</a>
  <br>
  HackAI: <a href="{{ opening[1].hackai }}" target="_blank">Apply Here</a>
  {% endif %}
  {% endfor %}