---
layout: page
title: Events
permalink: /events
---

<br>
<ul class="nav tab-style" data-tabs="tabs">
  <li class="active"><a class="tab-color" href="#events" data-toggle="tab">Events</a></li>
  <li><a class="tab-color" href="#k12-outreach" data-toggle="tab">K-12 Outreach</a></li>
  <li><a class="tab-color" href="#competitions-hackathons" data-toggle="tab">Competitions &amp Hackathons</a></li>
  <li><a class="tab-color" href="#projects" data-toggle="tab">Projects</a></li>
</ul>


<div class="tab-content">
  <div class="tab-pane fade in active" id="events">
    {% if site.data.events.Fall_16.general.size > 0 %}
      {% assign eventsList = site.data.events.Fall_16.general | sort %}

      {% for event in eventsList %}
        {% include ais/event-listing.html variable-param=event %}
      {% endfor %}
    {% else %}
    <br />
      <p>Please check back later for upcoming events!</p>
    {% endif %}
  </div>

  <div class="tab-pane fade" id="k12-outreach">
    {% if site.data.events.Fall_16.k12-outreach.size > 0 %}
      {% assign eventsList = site.data.events.Fall_16.k12-outreach | sort %}

      {% for event in eventsList %}
        {% include ais/event-listing.html variable-param=event %}
      {% endfor %}
    {% else %}
      <br />
      <p>Please check back later for upcoming events!</p>
    {% endif %}
  </div>

  <div class="tab-pane fade" id="competitions-hackathons">
    {% if site.data.events.Fall_16.competitions-hackathons.size > 0 %}
      {% assign eventsList = site.data.events.Fall_16.competitions-hackathons | sort %}

      {% for event in eventsList %}
        {% include ais/event-listing.html variable-param=event %}
      {% endfor %}
    {% else %}
      <br />
      <p>Please check back later for upcoming events!</p>
    {% endif %}
  </div>

  <div class="tab-pane fade" id="projects">
    {% if site.data.events.Fall_16.projects.size > 0 %}
      {% assign eventsList = site.data.events.Fall_16.projects | sort %}

      {% for event in eventsList %}
        {% include ais/event-listing.html variable-param=event %}
      {% endfor %}
    {% else %}
      <br />
      <p>Please check back later for upcoming events!</p>
    {% endif %}
  </div>
</div>

<br />
<br />
<p class="legal-text">
  This promotion is published by The Artificial Intelligence Society, is not an official publication of UT Dallas, and does not represent the view of the university or its officers.
  <br />
  The University of Texas at Dallas is an Equal Opportunity/Affirmative Action University. Students with disabilities needing special assistance to attend, please call 972-883-2946. Texas Relay Operator: 1-800-RELAYTX
</p>
