---
layout: page
title: Events
permalink: /events
---

<br>
<ul class="nav tab-style" data-tabs="tabs">
  <li class="active"><a class="tab-color" href="#talks" data-toggle="tab">Talks</a></li>
  <li><a class="tab-color" href="#workshops" data-toggle="tab">Workshops</a></li>
  <li><a class="tab-color" href="#competitions" data-toggle="tab">Competitions</a></li>
</ul>


<div class="tab-content">
  <div class="tab-pane fade in active" id="talks">
    {% if site.data.events.talks.size > 0 %}
      <!-- For some reason, the sort filter is needed for array indexing... -->
      {% assign eventsList = site.data.events.talks | sort %}

      <!-- Sort officers based upon index field in the JSON file -->
      {%for i in (0..eventsList.size) %}
        {%for j in (0..eventsList.size) %}

          <!-- officerList[j] is the JSON file, officerList[j][0] is the JSON file name, and officerList[j][1] is the JSON data -->
          <!-- Display in reverse order -->
          {% assign reverseIndex = eventsList.size | minus: i | minus: 1 %}
          {% if eventsList[j][1].index == reverseIndex %}
            {% include ais/event-listing.html list=eventsList index=j %}

            {% break %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% else %}
    <br />
      <p>Please check back later for upcoming events!</p>
    {% endif %}
  </div>

  <div class="tab-pane fade" id="workshops">
    {% if site.data.events.workshops.size > 0 %}
      <!-- For some reason, the sort filter is needed for array indexing... -->
      {% assign eventsList = site.data.events.workshops | sort %}

      <!-- Sort officers based upon index field in the JSON file -->
      {%for i in (0..eventsList.size) %}
        {%for j in (0..eventsList.size) %}

          <!-- officerList[j] is the JSON file, officerList[j][0] is the JSON file name, and officerList[j][1] is the JSON data -->
          <!-- Display in reverse order -->
          {% assign reverseIndex = eventsList.size | minus: i | minus: 1 %}
          {% if eventsList[j][1].index == reverseIndex %}
            {% include ais/event-listing.html list=eventsList index=j %}

            {% break %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% else %}
      <br />
      <p>Please check back later for upcoming events!</p>
    {% endif %}
  </div>

  <div class="tab-pane fade" id="competitions">
    {% if site.data.events.competitions.size > 0 %}
      <!-- For some reason, the sort filter is needed for array indexing... -->
      {% assign eventsList = site.data.events.competitions | sort %}

      <!-- Sort officers based upon index field in the JSON file -->
      {%for i in (0..eventsList.size) %}
        {%for j in (0..eventsList.size) %}

          <!-- officerList[j] is the JSON file, officerList[j][0] is the JSON file name, and officerList[j][1] is the JSON data -->
          <!-- Display in reverse order -->
          {% assign reverseIndex = eventsList.size | minus: i | minus: 1 %}
          {% if eventsList[j][1].index == reverseIndex %}
            {% include ais/event-listing.html list=eventsList index=j %}

            {% break %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% else %}
      <br />
      <p>Please check back later for upcoming events!</p>
    {% endif %}
  </div>

</div>

<br />
<br />
<p class="legal-text">
  This promotion is published by The Artificial Intelligence Society, is not an official publication of UT Dallas, and does not represent the view of the university or its officers.
  <br />
  The University of Texas at Dallas is an Equal Opportunity/Affirmative Action University. Students with disabilities needing special assistance to attend, please call 972-883-2946. Texas Relay Operator: 1-800-RELAYTX
</p>
