---
layout: page
title: Events
permalink: /events
---

<br>
<ul class="nav tab-style" data-tabs="tabs">
  <li class="active"><a class="tab-color" href="#talks-workshops" data-toggle="tab">Talks &amp Workshops</a></li>
  <li><a class="tab-color" href="#k12-outreach" data-toggle="tab">K-12 Outreach</a></li>
  <li><a class="tab-color" href="#competitions-hackathons" data-toggle="tab">Competitions &amp Hackathons</a></li>
  <li><a class="tab-color" href="#projects" data-toggle="tab">Projects</a></li>
</ul>


<div class="tab-content">
  <div class="tab-pane fade in active" id="talks-workshops">
    {% assign talks-workshops = site.data.events.16F.talks-workshops | sort %}
    {% if talks-workshops.size > 0 %}
      {% for event in talks-workshops %}
        {% include ais/event-listing.html variable-param=event %}
      {% endfor %}
    {% else %}
    <br />
      <p>Please check back later for upcoming events!</p>
    {% endif %}
  </div>

  <div class="tab-pane fade" id="k12-outreach">
    {% assign outreach = site.data.events.16F.k12-outreach | sort %}
    {% if outreach.size > 0 %}
      {% for event in outreach %}
        {% include ais/event-listing.html variable-param=event %}
      {% endfor %}
    {% else %}
      <br />
      <p>Please check back later for upcoming events!</p>
    {% endif %}
  </div>

  <div class="tab-pane fade" id="competitions-hackathons">
    {% assign competitions = site.data.events.16F.competitions-hackathons | sort %}
    {% if competitions.size > 0 %}
      {% for event in competitions %}
        {% include ais/event-listing.html variable-param=event %}
      {% endfor %}
    {% else %}
      <br />
      <p>Please check back later for upcoming events!</p>
    {% endif %}
  </div>

  <div class="tab-pane fade" id="projects">
    {% assign projects = site.data.events.16F.projects | sort %}
    {% if projects.size > 0 %}
      {% for event in projects | sort %}
        {% include ais/event-listing.html variable-param=event %}
      {% endfor %}
    {% else %}
      <br />
      <p>Please check back later for upcoming events!</p>
    {% endif %}
  </div>
</div>

<br />
<br />
<p class="legal-text">
  This promotion is published by The Artificial Intelligence Society, is not an official publication of UT Dallas, and does not represent the view of the university or its officers.
  <br />
  The University of Texas at Dallas is an Equal Opportunity/Affirmative Action University. Students with disabilities needing special assistance to attend, please call 972-883-2946. Texas Relay Operator: 1-800-RELAYTX
</p>
