body {
	background-color: black;
	background-image: url("media/1.h (finalist).png");
	background-position: 50% 10%;
	background-size: 50%;
	background-repeat: no-repeat;
	color: white;
}

/* Hyperlink color */
a {
	color: #3884BA;
}

p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 2vw;
	text-align: center;
}

#description {
	position: fixed;
	width: 50%;
	left: 25%;
	top: 35%;
}
