---
layout: page
title: Meet Our Team
permalink: /team
---
 
<!doctype html>
<html lang="en">
<body>
    <div id="officer-table" class="container">
        <div class="row">
          <!-- For some reason, the sort filter is needed for array indexing... -->
          {% assign officerList = site.data.officers | sort %}

          <!-- Sort officers based upon index field in the JSON file -->
          {%for i in (0..officerList.size) %}
            {%for j in (0..officerList.size) %}

              <!-- officerList[j] is the JSON file, officerList[j][0] is the JSON file name, and officerList[j][1] is the JSON data -->
              {% if officerList[j][1].index == i %}
                <div class="officer-col-fix col-md-3 col-sm-6 col-xs-12 officer-col-height">

                  <div class="officer-image-div">
                    {% if officerList[j][1].link == "" %}
                      <img class="officer-image" alt="{{ officerList[j][1].name }}" src="{{ officerList[j][1].photo }}" />
                    {% else %}
                      <a href="{{ officerList[j][1].link }}" target="_blank"><img class="officer-image" alt="{{ officerList[j][1].name }}" src="{{ officerList[j][1].photo }}" /></a>
                    {% endif %}
                  </div>

                  <h3 class="text-center">{{ officerList[j][1].name }}</h3>
                  <div class="officer-role-center">
                    {% if officerList[j][1].link != "" %}
                      <a href="{{ officerList[j][1].link }}" target="_blank"><span class="glyphicon glyphicon-link officer-link" aria-hidden="true"></span></a>
                    {% endif %}

                    <p><i>{{ officerList[j][1].role }}</i></p>
                  </div>

                  <p>{{ officerList[j][1].bio }}</p>
                </div>

                {% break %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
    </div>

    <!-- Bootstrap grids have a hidden overflow and of right now the last entry is the longest. This fixes the formatting -->
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />  
    <br />
    <p>You can find the gallery of our past officers <a href="past_officers.html">here</a>.</p>
</body>
</html>