<div class="row">
  <div id="featured-images" class="owl-carousel owl-theme">
    <img src="/img/featured/neuralnets-1.jpg">
    <img src="/img/featured/hackai-1.jpg">
    <img src="/img/featured/neuralnets-2.jpg">
    <img src="/img/featured/sep27-1.jpg">
    <img src="/img/featured/hackai-2.jpg">
    <img src="/img/featured/hackai-3.jpg">
    <img src="/img/featured/neuralnets-3.jpg">
    <img src="/img/featured/hackai-4.jpg">
    <img src="/img/featured/hackai-5.jpg">
    <img src="/img/featured/sep27-2.jpg">
  </div>
</div>

<link rel="stylesheet" href="/assets/js/owl-carousel/owl.carousel.css">

<!-- Default Theme -->
<link rel="stylesheet" href="/assets/js/owl-carousel/owl.theme.css">

<!-- Include js plugin -->
<script src="assets/js/owl-carousel/owl.carousel.js"></script>

<script type="text/javascript" src="/assets/js/carousel.html.js"></script>
