{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
          <ul class="visible-links">
              <li class="masthead__menu-item masthead__menu-item--lg">
                <a href="{{ base_path }}/">
                    <img id="home-image-link" src="/img/logo-no-text-transparent.png" alt="{{ site.title }}" />
                </a>
              </li>
              {% for link in site.data.navigation.main %}
              {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
              {% endif %}
              <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}

            <li class="masthead__menu-item">
              <form id="donate-button-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="R9LXCQTBPBJQ2">

                <span class="btn" id="donate-button-span">
                  <input id="donate-button-input" type="submit" name="submit" value="Donate" alt="PayPal - The safer, easier way to pay online!">
                </span>
              </form>
            </li>
          </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>