
#grid-container {
    width: 100%;
}

#mc_embed_signup {
    background: $background-color; 
    font:14px Helvetica,Arial,sans-serif;

    position: relative;
    top: -20px;
}
#form-input {
color: black !important;
}
#mc-embedded-subscribe {
    // Override MailChimp style
    color: $text-color !important;
    background: $cp-blue !important;
}
