
#grid-container {
    width: 100%;
}

#mc_embed_signup {
    background: $background-color; 
    font:14px Helvetica,Arial,sans-serif;

    position: relative;
    top: -20px;
    padding-left: 0px;
    padding-right: 50px;
}

.form-input {
    color: black !important;
}

#description-block {
    padding-left: 0px;
    padding-right: 50px;
}

#mc-embedded-subscribe {
    // Override MailChimp style
    color: $text-color !important;
    background: $cp-blue !important;
}
